{% extends 'base.html' %}
{% load static %}

{% block title %}Painel de Preços{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/searchProducts.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12 m6 l4">
                <a class="prefix waves-effect waves-light btn-flat modal-trigger" href="#modal-prod">
                    <i class="material-icons">search</i>
                </a>
                <input id="produto" value="{{promo.prod.cod}}" name="produto" type="number" class="validate" required>
                <label for="produto">Produto</label>
            </div>
            <div class="input-field col s12 m6 l4">
                <a id="search-screen" class="prefix waves-effect waves-light btn-flat">
                    <i class="material-icons">search</i>
                </a>
                <input id="screen" value="{{promo.screen.cod}}" name="screen" type="number" class="validate" required>
                <label for="screen">Tela</label>
            </div>
            <div class="file-field input-field col s12 m6 l4">
                <div class="btn">
                    <span>Imagem</span>
                    <input type="file" name="image" value="{{promo.image}}">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" value="{{promo.image}}">
                </div>
            </div>
        </div>
        <div class="fixed-action-btn tooltipped" data-position="left" data-tooltip="Gravar">
            <button type="submit" class="btn-floating btn-large red waves-effect waves-light">
                <i class="large material-icons">save</i>
            </button>
        </div>
    </form>
</div>

{% include 'search_products.html' %}

{% endblock %}

{% block script %}
<script src="{% static 'js/addPromotion.js' %}"></script>
{% endblock %}