{% extends 'base.html' %}
{% load static %}

{% block title %}Painel de Preços{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/searchProducts.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12 m6 l4">
                <a class="prefix waves-effect waves-light btn-flat modal-trigger" href="#modal-prod">
                    <i class="material-icons">search</i>
                </a>
                <input id="produto" value="{{promo.prod.cod}}" name="produto" type="number" class="validate" required>
                <label for="produto">Produto</label>
            </div>
            <div class="input-field col s12 m6 l4">
                <select name="screen">
                    <option value="" disabled selected>Escolha uma opção</option>
                    {% for screen in screens %}
                    <option value="{{screen.cod}}" 
                    {% if screen.cod == promo.screen.cod %} selected {% endif %}>
                        {{ screen.cod }} - {{screen.descricao}}</option>
                    {% endfor %}
                </select>
                <label>Tela</label>
            </div>
            <div class="input-field col s12 m6 l3">
                <div class="switch">
                    <label>
                        <input id="show-promotion" name="show-promotion" type="checkbox" {% if promo.show_promotion %}
                            checked {% endif %}>
                        <span class="lever"></span>
                        Oferta
                    </label>
                </div>
                <div class="switch">
                    <label>
                        <input id="show-list" name="show-list" type="checkbox" 
                        {% if promo.show_list %} checked {% endif %}>
                        <span class="lever"></span>
                        Lista de preços
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="file-field input-field col s12 m6">
                <div class="btn indigo">
                    <span>Nova Imagem</span>
                    <input type="file" name="image">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <img class="col s12 m6 responsive-img" src="{{MEDIA_URL}}{{promo.image}}" alt="image">
        </div>
        <div class="fixed-action-btn tooltipped" data-position="left" data-tooltip="Gravar">
            <button type="submit" class="btn-floating btn-large red waves-effect waves-light">
                <i class="large material-icons">save</i>
            </button>
        </div>
    </form>
</div>

{% include 'search_products.html' %}

{% endblock %}

{% block script %}
<script src="{% static 'js/addPromotion.js' %}"></script>
{% endblock %}