{% extends 'base.html' %}
{% load static %}

{% block title %}Painel de Preços{% endblock %}

{% block content %}
<div class="row">
    {% for screen in screens %}
    <div class="col s12 m6 l4">
        <div class="card hoverable">
            <div class="card-image">
                <img src="{{MEDIA_URL}}{{ screen.background }}" alt="teste">
            </div>
            <div class="card-content">
                <p>{{ screen.descricao }}</p>
            </div>
            <div class="card-action">
                <a class="tooltipped" data-tooltip="Remover" href="#" class="waves-effect waves-light">
                    <i class="material-icons">delete</i>
                </a>
                <a class="tooltipped" data-tooltip="Editar" href="#" class="waves-effect waves-light">
                    <i class="material-icons">edit</i>
                </a>
                <a class="tooltipped" data-tooltip="Abrir" href="{% url 'screen_promotion' screen.cod %}" class="waves-effect waves-light">
                    <i class="material-icons">send</i>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="fixed-action-btn tooltipped" data-tooltip="Adicionar Tela" data-position="top">
    <a href="{% url 'add_screen' %}" class="btn-floating btn-large">
        <i class="large material-icons">add</i>
    </a>
</div>

<script>

</script>
{% endblock %}