{% extends 'base-screen.html' %}
{% load static %}

{% block style %}
    body {
        background-image: url("{{ MEDIA_URL }}{{ screen.background }}");
    }
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/screenPromotion.css' %}">
{% endblock %}
{% block content %}
<div class="wrapper">
    <div id="descricao"></div>
    <img id="image" alt="img-prod"/>
    <div id="preco">R$ </div>
</div>

<script src="{% static 'js/screenPromotion.js' %}"></script>

<script>
    let redirectToPath = 'screen/prices-list/{{ screen.cod }}'
    let produtos = []

    {% for promo in promotions %}
        produtos.push({
            name: '{{ promo.prod.descricao_pdv|slice:":25" }}',
            preco: Number('{{ promo.prod.prun.all.0.preco }}').toFixed(2),
            image: '{{MEDIA_URL}}{{ promo.image }}'
        })
    {% endfor %}

    idInterval = setInterval(loadPromotion, 10000)
</script>
{% endblock %}
