body {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#descricao {
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    color: white;
    font-size: 750%;
    font-family: 'a-song-for-jennifer'
}

#image {
    position: fixed;
    left: 50%;
    top: 47.5%;
    transform: translateX(-50%) translateY(-50%);
    width: 49%;
    height: 51%;
}

#preco {
    position: fixed;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    color: white;
    font-size: 750%;
    align-self: flex-end;
    font-family: 'a-song-for-jennifer';
}